@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
html {
  font-size: 16px;
  font-family: Pretendard, sans-serif;
  scroll-behavior: smooth;
}
.container .mo {
  display: none;
}
.container .web {
  display: inline-block;
}
.container .wrap {
  font-size: 0rem;
  text-align: center;
  position: relative;
}
.container .wrap.down header,
.container .wrap.up header {
  background: rgba(0, 0, 0, 0.7);
}
.container .wrap header {
  width: 100%;
  height: 6.875rem;
  position: fixed;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  text-align: center;
  z-index: 5;
  transition: background-color 0.2s;
}
.container .wrap header .h-inner {
  width: 75rem;
  text-align: left;
  display: inline-block;
  zoom: 1;
}
.container .wrap header .h-inner:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container .wrap header .h-inner h1 {
  width: 9rem;
  height: 4.875rem;
  background-image: url('../images/web/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1rem;
  display: inline-block;
}
.container .wrap header .h-inner h1 .go-top {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.container .wrap header .h-inner .h-sns {
  float: right;
  margin-top: 2.3125rem;
}
.container .wrap header .h-inner .h-sns a {
  display: inline-block;
  vertical-align: middle;
}
.container .wrap header .h-inner .h-sns a.cr {
  width: 1.875rem;
  height: 1.875rem;
  background-image: url('../images/web/ico-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1.875rem;
}
.container .wrap header .h-inner .h-sns a.tw {
  width: 1.9375rem;
  height: 1.875rem;
  background-image: url('../images/web/twitter.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article {
  overflow: hidden;
}
.container .wrap section article .txt {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4375rem;
  text-align: center;
  color: #fff;
}
.container .wrap section article > div {
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.container .wrap section article.top {
  background: url("../images/web/bg1.png") center top;
  background-size: cover;
  min-height: 50rem;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.container .wrap section article.top video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 0rem;
  right: auto;
  bottom: auto;
  transform: translateX(-50%);
  background-size: cover;
}
.container .wrap section article.top .tit {
  width: 50.25rem;
  height: 9.375rem;
  background-image: url("../images/web/tit1.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 19.1875rem;
  position: relative;
  z-index: 1;
}
.container .wrap section article.top .cm {
  width: 10.5rem;
  height: 1.75rem;
  background-image: url("../images/web/coming-soon.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 5rem;
  position: relative;
  z-index: 1;
}
.container .wrap section article.top .cm:before {
  content: '';
  display: block;
  width: 18.0625rem;
  height: 1.8125rem;
  background-image: url("../images/web/shining1.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  bottom: -1.625rem;
  right: auto;
  top: auto;
  transform: translateX(-50%);
}
.container .wrap section article.top .cm:after {
  content: '';
  display: block;
  width: 18.0625rem;
  height: 1.8125rem;
  background-image: url("../images/web/shining1.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: -1.875rem;
  right: auto;
  bottom: auto;
  transform: translateX(-50%);
}
.container .wrap section article.top .sc {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #fff;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 50%;
  bottom: 3.0625rem;
  right: auto;
  top: auto;
  transform: translateX(-50%);
  display: inline-block;
  height: 2.5rem;
}
.container .wrap section article.top .sc .sc-down {
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.container .wrap section article.top .sc:after {
  content: '';
  display: block;
  width: 2.6875rem;
  height: 1.25rem;
  background-image: url('../images/web/ico-arrow-d.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  bottom: -0.25rem;
  right: auto;
  top: auto;
  transform: translateX(-50%);
}
.container .wrap section article.battle {
  background: url("../images/web/bg2.png") center top;
  background-size: cover;
  height: 55.25rem;
}
.container .wrap section article.battle .tit {
  width: 50.3125rem;
  height: 3.5625rem;
  background-image: url("../images/web/tit2.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 6.75rem;
}
.container .wrap section article.battle .txt {
  margin-top: 1rem;
}
.container .wrap section article.battle .vid {
  width: 53.125rem;
  height: 30rem;
  margin-top: 2.5rem;
  position: relative;
}
.container .wrap section article.battle .vid video {
  width: 100%;
  height: 100%;
}
.container .wrap section article.battle .vid a {
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 2;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
}
.container .wrap section article.battle .pop-vid {
  position: fixed;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
}
.container .wrap section article.battle .pop-vid video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 0rem;
  right: auto;
  bottom: auto;
  transform: translateX(-50%);
  background-size: cover;
}
.container .wrap section article.battle .pop-vid .close {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  display: inline-block;
}
.container .wrap section article.cards {
  background-color: #000;
  height: 58.375rem;
  position: relative;
}
.container .wrap section article.cards .tit {
  width: 23.9375rem;
  height: 3.4375rem;
  background-image: url("../images/web/tit3.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 7.8125rem;
}
.container .wrap section article.cards .txt {
  margin-top: 1rem;
}
.container .wrap section article.cards .swiper {
  width: 80rem;
  height: 31.625rem;
  margin-top: 4.5625rem;
  padding-top: 0rem;
  padding-right: 6.25rem;
  padding-bottom: 0rem;
  padding-left: 6.25rem;
  box-sizing: border-box;
  position: relative;
}
.container .wrap section article.cards .swiper:after {
  content: '';
  display: block;
  width: 6.25rem;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  z-index: 3;
}
.container .wrap section article.cards .swiper:before {
  content: '';
  display: block;
  width: 3.875rem;
  height: 100%;
  background-color: #000;
  position: absolute;
  right: 0rem;
  top: 0rem;
  left: auto;
  bottom: auto;
  z-index: 3;
}
.container .wrap section article.cards .swiper .swiper-slide {
  transition: margin 1s;
}
.container .wrap section article.cards .swiper .swiper-slide a {
  width: 15.9375rem;
  height: 23.25rem;
  position: absolute;
  left: 0rem;
  top: 1.875rem;
  right: auto;
  bottom: auto;
  display: inline-block;
  pointer-events: none;
}
.container .wrap section article.cards .swiper .swiper-slide .char {
  height: 26.4375rem;
  padding-top: 6.125rem;
  padding-right: 0rem;
  padding-bottom: 6.125rem;
  padding-left: 0rem;
  box-sizing: border-box;
  opacity: 0.4;
  position: relative;
  transition: opacity 1s, padding 1s, margin 1s;
  pointer-events: none;
}
.container .wrap section article.cards .swiper .swiper-slide .char:after {
  content: '';
  display: block;
  width: 6.25rem;
  height: 12.5rem;
  box-shadow: 5px 0 25px 12px #00FFFF;
  position: absolute;
  left: 0.125rem;
  top: 50%;
  right: auto;
  bottom: auto;
  transform: translate(0, -50%);
  z-index: -1;
  opacity: 0;
  transition: width 1s, height 1s, opacity 2s;
}
.container .wrap section article.cards .swiper .swiper-slide .char img {
  height: 100%;
}
.container .wrap section article.cards .swiper .swiper-slide .nm {
  width: 17.1875rem;
  height: 4.875rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity 0.5s;
  position: relative;
  pointer-events: none;
  padding-top: 1.8125rem;
  box-sizing: border-box;
}
.container .wrap section article.cards .swiper .swiper-slide .nm img {
  height: 1.25rem;
}
.container .wrap section article.cards .swiper .swiper-slide .nm:before {
  content: '';
  display: block;
  width: 18.0625rem;
  height: 1.8125rem;
  background-image: url('../images/web/shining1.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 0rem;
  right: auto;
  bottom: auto;
  transform: translateX(-50%);
}
.container .wrap section article.cards .swiper .swiper-slide .nm:after {
  content: '';
  display: block;
  width: 18.0625rem;
  height: 1.8125rem;
  background-image: url('../images/web/shining1.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0rem;
  right: auto;
  top: auto;
  transform: translateX(-50%);
}
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-prev .char,
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-next .char {
  padding-top: 4.4375rem;
  padding-right: 0rem;
  padding-bottom: 4.4375rem;
  padding-left: 0rem;
  opacity: 0.6;
  z-index: 1;
}
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-prev {
  margin-left: -2.5rem;
}
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-active {
  margin-right: 4.6875rem;
}
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-active a {
  cursor: pointer;
  z-index: 2;
  pointer-events: auto;
}
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-active .char {
  opacity: 1;
  z-index: 2;
  padding-top: 1.5625rem;
  padding-right: 0rem;
  padding-bottom: 1.5625rem;
  padding-left: 0rem;
}
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-active .char:after {
  content: '';
  display: block;
  width: 15.625rem;
  height: 22.5rem;
  opacity: 1;
}
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-active .nm {
  opacity: 1;
}
.container .wrap section article.cards .swiper .swiper-btn {
  position: absolute;
  top: 12.5rem;
  margin: 0rem;
  width: 1.5rem;
  height: 2.5rem;
}
.container .wrap section article.cards .swiper .swiper-btn:after {
  display: none;
}
.container .wrap section article.cards .swiper .swiper-btn.swiper-button-next {
  right: 1.25rem;
  background-image: url('../images/web/ico-right.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.cards .swiper .swiper-btn.swiper-button-prev {
  left: 1.25rem;
  background-image: url('../images/web/ico-left.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.nft {
  height: 45.875rem;
  position: relative;
  background-color: #000;
}
.container .wrap section article.nft video {
  margin-left: 50%;
  transform: translateX(-50%);
}
.container .wrap section article.nft .tit {
  width: 26.6875rem;
  height: 2.8125rem;
  background-image: url("../images/web/tit4.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 13.4375rem;
  right: auto;
  bottom: auto;
  margin-left: -13.3125rem;
}
.container .wrap section article.nft .sub-tit {
  width: 20.875rem;
  height: 2.1875rem;
  background-image: url("../images/web/sub-txt4.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 17.5625rem;
  right: auto;
  bottom: auto;
  margin-left: -10.4375rem;
}
.container .wrap section article.art5 {
  background: url("../images/web/bg5.png") center top;
  background-size: cover;
  height: 113.75rem;
}
.container .wrap section article.art5 ul {
  width: 77.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.1875rem;
}
.container .wrap section article.art5 ul li {
  padding-left: 3.9375rem;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s, transform 0.5s;
}
.container .wrap section article.art5 ul li:after {
  content: '';
  display: block;
  width: 75.8125rem;
  height: 1.5rem;
  background-image: url('../images/web/shining3.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 1.5rem;
  bottom: 1.25rem;
  right: auto;
  top: auto;
}
.container .wrap section article.art5 ul li .tit {
  display: inline-block;
  width: 32rem;
  height: 2.1875rem;
}
.container .wrap section article.art5 ul li .txt {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5625rem;
  color: #D9D9D9;
  width: 32rem;
  text-align: left;
}
.container .wrap section article.art5 ul li.list1 {
  height: 26.9375rem;
}
.container .wrap section article.art5 ul li.list1 .tit {
  background-image: url('../images/web/collect.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 6.6875rem;
}
.container .wrap section article.art5 ul li.list1 .vs {
  width: 27.9375rem;
  height: 22.625rem;
  float: right;
  background-image: url('../images/web/list1.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -1.3125rem;
}
.container .wrap section article.art5 ul li.list1 .txt {
  position: absolute;
  left: 3.9375rem;
  top: 10.125rem;
  right: auto;
  bottom: auto;
}
.container .wrap section article.art5 ul li.list2 {
  height: 27.625rem;
}
.container .wrap section article.art5 ul li.list2 .tit {
  background-image: url('../images/web/trade.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 5.625rem;
  top: 6.3125rem;
  left: auto;
  bottom: auto;
}
.container .wrap section article.art5 ul li.list2 .vs {
  width: 27.9375rem;
  height: 22.625rem;
  float: right;
  background-image: url('../images/web/list2.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 5.875rem;
  top: 0.9375rem;
  right: auto;
  bottom: auto;
}
.container .wrap section article.art5 ul li.list2 .txt {
  position: absolute;
  right: 5.625rem;
  top: 9.6875rem;
  left: auto;
  bottom: auto;
}
.container .wrap section article.art5 ul li.list3 {
  height: 27.75rem;
}
.container .wrap section article.art5 ul li.list3 .tit {
  background-image: url('../images/web/evolution.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 9.0625rem;
}
.container .wrap section article.art5 ul li.list3 .vs {
  width: 27.9375rem;
  height: 22.625rem;
  float: right;
  background-image: url('../images/web/list3.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1.3125rem;
}
.container .wrap section article.art5 ul li.list3 .txt {
  position: absolute;
  left: 3.9375rem;
  top: 12.3125rem;
  right: auto;
  bottom: auto;
}
.container .wrap section article.art5 ul li.list4 {
  height: 27.0625rem;
}
.container .wrap section article.art5 ul li.list4:after {
  display: none;
}
.container .wrap section article.art5 ul li.list4 .tit {
  background-image: url('../images/web/play.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 5.625rem;
  top: 8.5rem;
  left: auto;
  bottom: auto;
}
.container .wrap section article.art5 ul li.list4 .vs {
  width: 27.9375rem;
  height: 22.625rem;
  float: right;
  background-image: url('../images/web/list4.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 6.75rem;
  top: 1.625rem;
  right: auto;
  bottom: auto;
}
.container .wrap section article.art5 ul li.list4 .txt {
  position: absolute;
  right: 5.625rem;
  top: 11.75rem;
  left: auto;
  bottom: auto;
}
.container .wrap section article.art5.in ul li {
  opacity: 1;
  transform: translateY(0);
}
.container .wrap section article.art5.in ul li.list2 {
  transition-delay: 0.5s;
}
.container .wrap section article.art5.in ul li.list3 {
  transition-delay: 1s;
}
.container .wrap section article.art5.in ul li.list4 {
  transition-delay: 1.5s;
}
.container .wrap section article.artworks {
  background-color: #000;
  padding-top: 7.125rem;
  padding-right: 0rem;
  padding-bottom: 8rem;
  padding-left: 0rem;
  box-sizing: border-box;
  position: relative;
}
.container .wrap section article.artworks .tit {
  width: 15rem;
  height: 2.9375rem;
  background-image: url("../images/web/tit6.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide {
  height: 16.875rem;
  margin-top: 4.5rem;
  position: relative;
  overflow: hidden;
}
.container .wrap section article.artworks .art-slide .slide-inner {
  width: 200.25rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide {
  width: 20.625rem;
  height: 13.8125rem;
  margin-top: 1.125rem;
  margin-right: 1.625rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  display: inline-block;
  vertical-align: top;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  cursor: pointer;
  display: inline-block;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide:hover {
  width: 22.8125rem !important;
  height: 15.9375rem !important;
  margin-top: 0.0625rem !important;
  margin-right: 0.5rem !important;
  margin-bottom: 0rem !important;
  margin-left: -1.0625rem !important;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide1 {
  width: 20.625rem;
  height: 13.8125rem;
  background-image: url('../images/web/sl1.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide1:hover {
  background-image: url('../images/web/sl1-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide2 {
  width: 20.625rem;
  height: 13.8125rem;
  background-image: url('../images/web/sl2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide2:hover {
  background-image: url('../images/web/sl2-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide3 {
  width: 20.625rem;
  height: 13.8125rem;
  background-image: url('../images/web/sl3.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide3:hover {
  background-image: url('../images/web/sl3-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide4 {
  width: 20.625rem;
  height: 13.8125rem;
  background-image: url('../images/web/sl4.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide4:hover {
  background-image: url('../images/web/sl4-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide5 {
  width: 20.625rem;
  height: 13.8125rem;
  background-image: url('../images/web/sl5.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide5:hover {
  background-image: url('../images/web/sl5-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide6 {
  width: 20.625rem;
  height: 13.8125rem;
  background-image: url('../images/web/sl6.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide6:hover {
  background-image: url('../images/web/sl6-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide7 {
  width: 20.625rem;
  height: 13.8125rem;
  background-image: url('../images/web/sl7.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide7:hover {
  background-image: url('../images/web/sl7-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide8 {
  width: 20.625rem;
  height: 13.8125rem;
  background-image: url('../images/web/sl8.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide8:hover {
  background-image: url('../images/web/sl8-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide9 {
  width: 20.625rem;
  height: 13.8125rem;
  background-image: url('../images/web/sl9.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .slide-inner .swiper-slide.swiper-slide9:hover {
  background-image: url('../images/web/sl9-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .art-slide .before {
  animation: slideBefore 25s linear infinite;
}
.container .wrap section article.artworks .art-slide .after {
  transform: translateX(100%);
  animation: slideAfter 25s linear infinite;
}
@keyframes slideBefore {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideAfter {
  100% {
    transform: translateX(0);
  }
}
.container .wrap section article.artworks .art-slide:hover .before,
.container .wrap section article.artworks .art-slide:hover .after {
  animation-play-state: paused;
}
.container .wrap section article.artworks .popup {
  position: fixed;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
}
.container .wrap section article.artworks .popup .dim {
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.35;
}
.container .wrap section article.artworks .popup .img {
  width: 56.1875rem;
  height: 37.625rem;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}
.container .wrap section article.artworks .popup .img.img1 {
  background-image: url('../images/web/sl1-xl.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .popup .img.img2 {
  background-image: url('../images/web/sl2-xl.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .popup .img.img3 {
  background-image: url('../images/web/sl3-xl.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .popup .img.img4 {
  background-image: url('../images/web/sl4-xl.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .popup .img.img5 {
  background-image: url('../images/web/sl5-xl.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .popup .img.img6 {
  background-image: url('../images/web/sl6-xl.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .popup .img.img7 {
  background-image: url('../images/web/sl7-xl.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .popup .img.img8 {
  background-image: url('../images/web/sl8-xl.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .popup .img.img9 {
  background-image: url('../images/web/sl9-xl.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article.artworks .popup .img .close {
  width: 1.75rem;
  height: 1.75rem;
  background-image: url('../images/web/close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 0.9375rem;
  right: auto;
  bottom: auto;
  margin-left: 29.125rem;
}
.container .wrap section article.developer {
  background: url("../images/web/bg7-1.png") center top;
  background-size: cover;
  height: 51.1875rem;
  padding-top: 6.875rem;
  box-sizing: border-box;
}
.container .wrap section article.developer .sub-tit {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
  letter-spacing: -0.03em;
  color: #fff;
}
.container .wrap section article.developer .tit {
  width: 9.25rem;
  height: 4.5rem;
  background-image: url('../images/web/tit7.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 40px auto 80px;
}
.container .wrap section article.developer ul {
  margin-top: 2.9375rem;
  margin-left: auto;
  margin-right: auto;
  width: 65rem;
  text-align: left;
}
.container .wrap section article.developer ul li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0rem;
  margin-right: 1.875rem;
  margin-bottom: 3rem;
  margin-left: 1.875rem;
}
.container .wrap footer {
  height: 11.8125rem;
  background-color: #000;
}
.container .wrap footer .ft-inner {
  width: 75rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 1.5rem;
  padding-right: 0rem;
  padding-bottom: 2.8125rem;
  padding-left: 0rem;
  box-sizing: border-box;
}
.container .wrap footer .ft-inner h1 {
  width: 6.3125rem;
  height: 4.25rem;
  background-image: url('../images/web/logo-ft.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap footer .ft-inner h1 .go-top {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.container .wrap footer .ft-inner .copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  text-align: left;
  color: #aaa;
  margin-top: 1rem;
}
.container .wrap footer .ft-inner .ft-btns {
  position: absolute;
  right: 0rem;
  top: 2.6875rem;
  left: auto;
  bottom: auto;
}
.container .wrap footer .ft-inner .ft-btns a {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  text-align: right;
  font-weight: 700;
  display: inline-block;
  margin-left: 2rem;
  vertical-align: middle;
  color: #aaa;
  position: relative;
  cursor: pointer;
}
.container .wrap footer .ft-inner .ft-btns a:after {
  content: '';
  display: block;
  width: 0.0625rem;
  height: 0.875rem;
  background-color: #fff;
  position: absolute;
  left: -0.9375rem;
  top: 0.125rem;
  right: auto;
  bottom: auto;
}
.container .wrap footer .ft-inner .ft-btns a:first-child:after {
  display: none;
}
.container .wrap footer .ft-inner .os-btns {
  position: absolute;
  right: 0rem;
  top: 5.625rem;
  left: auto;
  bottom: auto;
}
.container .wrap footer .ft-inner .os-btns a {
  margin-left: 2.5rem;
  display: inline-block;
}
.container .wrap footer .ft-inner .os-btns a.ms {
  width: 1.875rem;
  height: 2rem;
  background-image: url('../images/web/ms.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap footer .ft-inner .os-btns a.ios {
  width: 2rem;
  height: 2rem;
  background-image: url('../images/web/ios.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap footer .ft-inner .os-btns a.android {
  width: 2rem;
  height: 2rem;
  background-image: url('../images/web/android.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap .popup {
  position: fixed;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
.container .wrap .popup .dim {
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
}
.container .wrap .popup .pop-inner {
  width: 61.375rem;
  height: 40.75rem;
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
}
.container .wrap .popup .pop-inner .info {
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  width: 61.375rem;
  height: 40.75rem;
  background-image: url('../images/web/card-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap .popup .pop-inner .info .gif {
  position: absolute;
  left: 1.25rem;
  top: 0.3125rem;
  right: auto;
  bottom: auto;
  width: 26.4375rem;
}
.container .wrap .popup .pop-inner .info .gif img {
  width: 100%;
}
.container .wrap .popup .pop-inner .info .info-box {
  width: 27.5rem;
  position: absolute;
  right: 4.5rem;
  top: 0rem;
  left: auto;
  bottom: auto;
}
.container .wrap .popup .pop-inner .info .info-box .tit-box {
  height: 6.1875rem;
  margin-top: 3.25rem;
  position: relative;
}
.container .wrap .popup .pop-inner .info .info-box .tit-box .pop-tit {
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
}
.container .wrap .popup .pop-inner .info .info-box .tit-box:after {
  content: '';
  display: block;
  width: 26.6875rem;
  height: 1.5rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  background-image: url('../images/web/shining2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap .popup .pop-inner .info .info-box .tit-box:before {
  content: '';
  display: block;
  width: 26.6875rem;
  height: 1.5rem;
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  right: auto;
  top: auto;
  background-image: url('../images/web/shining2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap .popup .pop-inner .info .info-box .pop-txt {
  margin-top: 1.4375rem;
}
.container .wrap .popup .pop-inner .info .info-box .pop-txt ul {
  padding-left: 3.25rem;
  box-sizing: border-box;
}
.container .wrap .popup .pop-inner .info .info-box .pop-txt ul li {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 400;
  position: relative;
  padding-left: 1.0625rem;
  text-align: left;
  text-transform: uppercase;
}
.container .wrap .popup .pop-inner .info .info-box .pop-txt ul li b {
  font-weight: 600;
}
.container .wrap .popup .pop-inner .info .info-box .pop-txt ul li.i:after {
  content: '';
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  left: 0rem;
  top: 0.625rem;
  right: auto;
  bottom: auto;
  border-radius: 50%;
  background-color: #00FFFF;
}
.container .wrap .popup .pop-inner .info .info-box .pop-txt ul li.s {
  margin-top: 0.625rem;
}
.container .wrap .popup .pop-inner .info .info-box .pop-txt ul li.s b {
  color: #00FFFF;
}
.container .wrap .popup .pop-inner .info .desc {
  width: 51.875rem;
  height: 10.5rem;
  padding-top: 1.9375rem;
  padding-right: 2.5rem;
  padding-bottom: 1.125rem;
  padding-left: 2.5rem;
  box-sizing: border-box;
  position: absolute;
  left: 4.375rem;
  bottom: 3.125rem;
  right: auto;
  top: auto;
  background: rgba(0, 255, 255, 0.17);
  overflow: auto;
}
.container .wrap .popup .pop-inner .info .desc p {
  font-size: 0.875rem;
  line-height: 1.4375rem;
  text-align: left;
  color: #fff;
  font-weight: 600;
}
.container .wrap .popup .pop-inner .info ::-webkit-scrollbar {
  width: 0.3125rem;
  background: rgba(255, 255, 255, 0);
}
.container .wrap .popup .pop-inner .info ::-webkit-scrollbar-thumb {
  width: 0.3125rem;
  background-color: #00FFFF;
  border-radius: 0.3125rem;
}
.container .wrap .popup .pop-inner .close {
  width: 1.75rem;
  height: 1.75rem;
  background-image: url('../images/web/close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -1.875rem;
  top: 0.9375rem;
  left: auto;
  bottom: auto;
}
.container .wrap .popup.rising .pop-inner .info .info-box .tit-box .pop-tit {
  width: 14.0625rem;
  height: 1.75rem;
}
.container .wrap .popup.sonic .pop-inner .info .info-box .tit-box .pop-tit {
  width: 9.1875rem;
  height: 2rem;
}
.container .wrap .popup.geno .pop-inner .info .info-box .tit-box .pop-tit {
  width: 9.625rem;
  height: 2rem;
}
.container .wrap .popup.stylaser .pop-inner .info .info-box .tit-box .pop-tit {
  width: 8.1875rem;
  height: 2rem;
}
.container .wrap .popup.gatling .pop-inner .info .info-box .tit-box .pop-tit {
  width: 10.375rem;
  height: 2rem;
}
.container .wrap .popup.stego .pop-inner .info .info-box .tit-box .pop-tit {
  width: 9.9375rem;
  height: 2rem;
}
.container .wrap .loader {
  position: fixed;
  z-index: 100;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.container .wrap .loader span {
  width: 37.5rem;
  height: 31.25rem;
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1280px) {
  .container .wrap header .h-inner {
    width: 100%;
  }
  .container .wrap section article.cards {
    height: auto;
  }
  .container .wrap section article.cards .tit {
    margin-top: 5rem;
  }
  .container .wrap section article.cards .swiper {
    width: 100%;
    margin-top: 0rem;
  }
  .container .wrap section article.cards .swiper .swiper-slide {
    transform: scale(0.8);
  }
  .container .wrap section article.cards .swiper .swiper-slide.swiper-slide-active {
    margin-right: 3.4375rem;
  }
  .container .wrap section article.art5 ul {
    width: 100%;
  }
  .container .wrap section article.art5 ul li .tit,
  .container .wrap section article.art5 ul li .txt {
    width: 43vw;
  }
  .container .wrap section article.art5 ul li.list2 .tit,
  .container .wrap section article.art5 ul li.list4 .tit,
  .container .wrap section article.art5 ul li.list2 .txt,
  .container .wrap section article.art5 ul li.list4 .txt {
    right: 2.5rem;
  }
  .container .wrap section article.art5 ul li:after {
    width: 100%;
  }
  .container .wrap section article.developer ul {
    width: 48.75rem;
  }
  .container .wrap footer .ft-inner {
    width: 97%;
  }
}
@media screen and (max-width: 1024px) {
  .container .wrap section article.cards .swiper {
    padding-top: 0rem;
    padding-right: 4.0625rem;
    padding-bottom: 0rem;
    padding-left: 4.0625rem;
  }
  .container .wrap section article.cards .swiper .swiper-slide {
    transform: scale(0.7);
  }
  .container .wrap section article.cards .swiper .swiper-slide.swiper-slide-active {
    margin-right: 2.5rem;
  }
  .container .wrap section article.cards .popup .pop-inner {
    transform: translate(-50%, -50%) scale(0.8);
  }
  .container .wrap section article.art5 ul li .tit,
  .container .wrap section article.art5 ul li .txt {
    width: 35vw;
  }
  .container .wrap section article.art5 ul li.list1 .tit {
    margin-top: 4.1875rem;
  }
  .container .wrap section article.art5 ul li.list1 .txt {
    top: 7.625rem;
  }
  .container .wrap section article.art5 ul li.list2 .tit {
    top: 5.6875rem;
  }
  .container .wrap section article.art5 ul li.list2 .txt {
    top: 9.0625rem;
  }
  .container .wrap section article.art5 ul li.list3 .tit {
    margin-top: 5.9375rem;
  }
  .container .wrap section article.art5 ul li.list3 .txt {
    top: 9.1875rem;
  }
  .container .wrap section article.art5 ul li.list2 .vs {
    left: 3.125rem;
  }
  .container .wrap section article.art5 ul li.list4 .vs {
    left: 0.9375rem;
  }
  .container .wrap section article.artworks .popup .img {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
/*# sourceMappingURL=style.css.map */