html {
  font-size: 16px;
  scroll-behavior: smooth;
}
.container .wrap {
  font-size: 0rem;
  text-align: center;
  position: relative;
}
.container .wrap header {
  width: 75rem;
  text-align: left;
  position: fixed;
  left: 50%;
  top: 0rem;
  right: auto;
  bottom: auto;
  margin-left: -37.5rem;
  zoom: 1;
}
.container .wrap header:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container .wrap header h1 {
  width: 9rem;
  height: 4.875rem;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1.0625rem;
  display: inline-block;
}
.container .wrap header .h-sns {
  float: right;
  margin-top: 2.3125rem;
}
.container .wrap header .h-sns a {
  display: inline-block;
  vertical-align: middle;
}
.container .wrap header .h-sns a.cr {
  width: 1.875rem;
  height: 1.875rem;
  background-image: url('../images/ico-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1.875rem;
}
.container .wrap header .h-sns a.tw {
  width: 1.9375rem;
  height: 1.875rem;
  background-image: url('../images/twitter.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.container .wrap section article {
  overflow: hidden;
}
.container .wrap section article > div {
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.container .wrap section article.top {
  background: url("../images/bg1.png") center top;
  height: 50rem;
}
.container .wrap section article.top .tit {
  width: 55.4375rem;
  height: 9.375rem;
  background-image: url("../images/tit1.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 19.1875rem;
}
.container .wrap section article.top .cm {
  width: 10.25rem;
  height: 2rem;
  background-image: url("../images/coming-soon.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 4.5rem;
}
.container .wrap section article.top .shining {
  width: 17.1875rem;
  height: 5rem;
  background-image: url("../images/shining.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 31.3125rem;
  right: auto;
  bottom: auto;
  transform: translateX(-50%);
}
.container .wrap section article.battle {
  background: url("../images/bg2.png") center top;
  height: 55.25rem;
}
.container .wrap section article.battle .tit {
  width: 58.25rem;
  height: 3.75rem;
  background-image: url("../images/tit2.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 6.5625rem;
}
.container .wrap section article.battle .txt {
  width: 29.5rem;
  height: 4.375rem;
  background-image: url("../images/sub-txt2.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1rem;
}
.container .wrap section article.battle .vid {
  width: 53.125rem;
  height: 30rem;
  margin-top: 2.5rem;
}
.container .wrap section article.cards {
  background-color: #000;
  height: 58.375rem;
}
.container .wrap section article.cards .tit {
  width: 23.9375rem;
  height: 3.4375rem;
  background-image: url("../images/tit3.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 7.8125rem;
}
.container .wrap section article.cards .txt {
  width: 27.375rem;
  height: 4.625rem;
  background-image: url("../images/sub-txt3.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1rem;
}
.container .wrap section article.cards .swiper {
  transition: transform 0.4s;
}
.container .wrap section article.cards .swiper .swiper-slide {
  height: 14.0625rem;
  margin-top: 5.25rem;
  opacity: 0.5;
  transition: height 1s;
}
.container .wrap section article.cards .swiper .swiper-slide img {
  height: 100%;
}
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-prev,
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-next {
  height: 17.5625rem;
  margin-top: 3.8125rem;
  opacity: 0.7;
}
.container .wrap section article.cards .swiper .swiper-slide.swiper-slide-active {
  height: 23.5625rem;
  opacity: 1;
  z-index: 1;
  margin-top: 0rem;
  transition: height 1s;
}
@media screen and (max-width: 1200px) {
  .container .wrap header {
    width: 100%;
    position: fixed;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    margin-left: 0rem;
  }
}
/*# sourceMappingURL=style.css.map */